body{
	margin: 0;
	padding: 0;
	background: #487eb0;
}
.signin-form{
	width: 300px;
	padding: 20px;
	text-align: center;
	background: #7f8fa6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}
.signin-form h1{
	margin-top: 100px;
	font-family: 'Permanent Marker',cursive;
	color: #fff;
	font-size: 40px;
}
.signin-form input{
	display: block;
	width: 100%;
	padding: 0 auto;
	height: 44px;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	border: none;
}
.txtb{
	margin: 20px 0;
	background: rgba(255,255,255,.5);
	border-radius: 6px;
}
.signin-btn{
	margin-top: 60px;
	margin-bottom: 20px;
	background: #487eb0;
	color: #fff;
	font-size: 14px;
	border-radius: 44px;
	cursor: pointer;
	transition:0.8s;
}
.signin-btn:hover{
	transform: scale(0.96);
}